<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Encuentra Casa  | Admin</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <script src="js/jquery.min.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>


<body class="nav-md">

  <div class="modal fade" id="modalRegistrar" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-lg" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <h4 class="modal-title" id="myModalLabel"><i class="fa fa-home"></i> Publicar anuncio</h4>
		</div>
		<div class="modal-body">
		  <form id="formRegistro" name="formRegistro" action="/registrarNuevaPension" method="post">
			<div class="container">
			  <div class="row">
				<div class = "col-md-6">
					<label>DATOS GENERALES</label>
				  	<div class="form-group"><input type="text" class="form-control" name="nombrePension" id="nombrePension" placeholder="Nombre de Pensión" required autofocus/></div>
				  	<div class="form-group"><input type="text" class="form-control" name="nombreArrendador" id="nombreArrendador" placeholder="Nombre de Arrendador" required/></div>
					<!--<div class="form-group"><input type="text" class="form-control" name="ciudad" id="ciudad" placeholder="Ciudad" required/></div>-->
					<div class="form-group">
						<select class="form-control" name="ciudad" id="ciudad" required>
							<option value="">Selecciona una opción</option>
							<option value="Córdoba">Córdoba</option>
							<option value="Fortín">Fortín</option>
							<option value="Ixtaczoquitlán">Ixtaczoquitlán</option>
							<option value="Mendoza">Mendoza</option>
							<option value="Nogales">Nogales</option>
							<option value="Orizaba">Orizaba</option>
							<option value="Río Blanco">Río Blanco</option>
						</select>
					</div>
					<div class="form-group"><input type="text" class="form-control" name="direccion" id="direccion" placeholder="Dirección" required/></div>
					<div class="form-group"><input type="text" class="form-control" name="cp" id="cp" placeholder="Código Postal" required/></div>
					<div class="form-group"><input type="text" class="form-control" name="email" id="email" placeholder="Correo Electrónico" required></div>
					<div class="form-group"><input type="text" class="form-control" name="telefonoCasa" id="telefonoCasa" placeholder="Teléfono de Casa" required></div>
					<div class="form-group"><input type="text" class="form-control" name="telefonoCelular" id="telefonoCelular" placeholder="Teléfono Celular" required></div>
					<div class="form-group"><div class="input-group"><div class="input-group-addon">$</div><input type="number" class="form-control" name="costoRenta" id="costoRenta" placeholder="Renta Mensual" min="0" required></div></div>
					
				</div>
				<div class = "col-md-6">
				  	<div class="container">
						<div class="row">
					  		<div class="col-xs-6" align="left">
								<label>TIPO DE LUGAR</label><br>
								<input type="radio" name="tipoLugar" id="tipoLugar" value="casa" required> Casa<br>
								<input type="radio" name="tipoLugar" id="tipoLugar" value="departamento" required> Departamento<br>
								<input type="radio" name="tipoLugar" id="tipoLugar" value="habitacion" required> Cuarto/Habitación
					  		</div>
					  		<div class="col-xs-6" align="left">
								<label>RECEPCIÓN</label><br>
								<input type="radio" name="tipo" id="tipo" value="mujeres" required autofocus> Sólo Mujeres<br>
								<input type="radio" name="tipo" id="tipo" value="hombres" required> Sólo Hombres<br>
								<input type="radio" name="tipo" id="tipo" value="mixto" required> Mixto
					  		</div>
						</div>
				 	</div><br>
				  	<div class="form-group">
						<label>DESCRIPCIÓN</label>
						<textarea name="descripcion" class="form-control" placeholder="Descripción" maxlength="250" rows="5"></textarea>
				  	</div>
				  	<div class="containter">
						<div class="row">
					  	<center><label>SERVICIOS</label></center>
						  	<div class="col-xs-4" align="left">
								<input type="checkbox" name="servicio1" id="servicio1" value="True">  <label class="light">Luz</label><br>
								<input type="checkbox" name="servicio2" id="servicio2" value="True">  <label class="light">Internet</label><br>
								<input type="checkbox" name="servicio3" id="servicio3" value="True">  <label class="light">Cable</label><br>
						  	</div>
						  	<div class="col-xs-4" align="left">
								<input type="checkbox" name="servicio4" id="servicio4" value="True">  <label class="light">Teléfono</label><br>
								<input type="checkbox" name="servicio5" id="servicio5" value="True">  <label class="light">Lavandería</label><br>
								<input type="checkbox" name="servicio6" id="servicio6" value="True">  <label class="light">Comida</label><br>
						  	</div>
						  	<div class="col-xs-4" align="left">
								<input type="checkbox" name="servicio7" id="servicio7" value="True">  <label class="light">Agua Caliente</label><br>
								<input type="checkbox" name="servicio8" id="servicio8" value="True">  <label class="light">Amueblado</label><br>
								<input type="checkbox" name="servicio9" id="servicio9" value="True">  <label class="light">Limpieza</label><br>
						  	</div>
						</div>
				  	</div>
				</div>
			  </div>
			</div>

			<center>
			  <button type="submit" class="btn btn-success">Registrar</button>
			</center>
		  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		</div>
	  </div>
	</div>
  </div>

  <div class="container body">


	<div class="main_container">

	  <div class="col-md-3 left_col">
		<div class="left_col scroll-view">

		  <div class="navbar nav_title" style="border: 0;">
			<a href="#" class="site_title"><span>Encuentra Casa</span></a>
		  </div>
		  <div class="clearfix"></div>


		  <!-- menu prile quick info -->
		  <div class="profile">
			<div class="profile_pic">
			  <img src="images/img.jpg" alt="..." class="img-circle profile_img">
			</div>
			<div class="profile_info">
			  <span>Bienvenido,</span>
			  <h2>{{usr}}</h2>
			</div>
		  </div>
		  <!-- /menu prile quick info -->

		  <br />
		  <br />
		  <!-- sidebar menu -->
		  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

			<div class="menu_section">
			  <br><br>
			  <h3>Menú: </h3>
			  <ul class="nav side-menu">
				
				<li><a href="/adminIndex"><i class="fa fa-home"></i> Mis anuncios</a></li>
				
			  </ul>
			</div>
			<div class="menu_section">
			  <h3>Mi información:</h3>
			  <ul class="nav side-menu">
				
			  </ul>
			</div>

		  </div>
		  <!-- /sidebar menu -->

		  <!-- /menu footer buttons -->
		  <div class="sidebar-footer hidden-small">
			<!--<a data-toggle="tooltip" data-placement="top" title="Settings">
			  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="FullScreen">
			  <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
			</a>
			<a data-toggle="tooltip" data-placement="top" title="Lock">
			  <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
			</a>-->
			<a href= "/cerrarSesion" data-toggle="tooltip" data-placement="top" title="Salir">
			  <strong><span class="glyphicon glyphicon-off" aria-hidden="true"></span></strong>
			</a>
		  </div>
		  <!-- /menu footer buttons -->
		</div>
	  </div>

	  <!-- top navigation -->
	  <div class="top_nav">

		<div class="nav_menu">
		  <nav class="" role="navigation">
			<div class="nav toggle">
			  <a id="menu_toggle"><i class="fa fa-bars"></i></a>
			</div>

			<ul class="nav navbar-nav navbar-right">
			  <li class="">
				<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				  <img src="images/img.jpg" alt="">Bacano Santos
				  <span class=" fa fa-angle-down"></span>
				</a>
				<ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
				  <li><a href="javascript:;">  Mi perfil</a>
				  </li>
				  <li><a href="/cerrarSesion"><i class="fa fa-sign-out pull-right"></i> Cerrar sesión</a>
				  </li>
				</ul>
			  </li>

			  <li role="presentation" class="dropdown">
				<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
				  <i class="fa fa-envelope-o"></i>
				  <span class="badge bg-green">6</span>
				</a>
				<ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
				  <li>
					<a>
					  <span class="image">
										<img src="images/img.jpg" alt="Profile Image" />
									</span>
					  <span>
										<span>John Smith</span>
					  <span class="time">3 mins ago</span>
					  </span>
					  <span class="message">
										Film festivals used to be do-or-die moments for movie makers. They were where...
									</span>
					</a>
				  </li>
				  <li>
					<a>
					  <span class="image">
										<img src="images/img.jpg" alt="Profile Image" />
									</span>
					  <span>
										<span>John Smith</span>
					  <span class="time">3 mins ago</span>
					  </span>
					  <span class="message">
										Film festivals used to be do-or-die moments for movie makers. They were where...
									</span>
					</a>
				  </li>
				  <li>
					<a>
					  <span class="image">
										<img src="images/img.jpg" alt="Profile Image" />
									</span>
					  <span>
										<span>John Smith</span>
					  <span class="time">3 mins ago</span>
					  </span>
					  <span class="message">
										Film festivals used to be do-or-die moments for movie makers. They were where...
									</span>
					</a>
				  </li>
				  <li>
					<a>
					  <span class="image">
										<img src="images/img.jpg" alt="Profile Image" />
									</span>
					  <span>
										<span>John Smith</span>
					  <span class="time">3 mins ago</span>
					  </span>
					  <span class="message">
										Film festivals used to be do-or-die moments for movie makers. They were where...
									</span>
					</a>
				  </li>
				  <li>
					<div class="text-center">
					  <a>
						<strong>See All Alerts</strong>
						<i class="fa fa-angle-right"></i>
					  </a>
					</div>
				  </li>
				</ul>
			  </li>

			</ul>
		  </nav>
		</div>

	  </div>
	  <!-- /top navigation -->

	  <!-- page content -->
	  <div class="right_col" role="main">

		<div class="">
		  <div class="page-title">
			<div class="title_left">
			  <h3>Mis <b>anuncios</b></h3>
			</div>

			<div class="title_right">
			  <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
				<div class="input-group">
				  <input type="text" class="form-control" placeholder="Buscar...">
				  <span class="input-group-btn">
							<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
						</span>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="clearfix"></div>

		  <div class="row">
			<div class="col-md-12">
			  <div class="x_panel">
				<div class="x_content">

				  <div class="row" style="display:flex; flex-wrap:wrap;">
					<div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
					  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalRegistrar"><i class="fa fa-home"></i> Publicar anuncio </button><br><br>
					</div>
					{% for result in query %}
					<div class="col-md-4 col-sm-3 col-xs-12 animated fadeInDown">
					  <div class="well profile_view" style="">
						<div class="col-sm-11">
							{% if result.int_publicarPension == 0 %}
								<h4 class="brief"><i><span class="label label-default label-danger">No activa</span></i></h4>
							{% else %}
								<h4 class="brief"><i><span class="label label-default label-success">Activa</span></i></h4>
							{% endif %}
						  	<div class="left col-xs-5">
								<h2><b>{{result.str_nombrePension}}</b></h2>
								<ul class="list-unstyled">
							  		<li><i class="fa fa-user"></i> {{result.str_nombreArrendador}}</li>
							  		<li><i class="fa fa-location-arrow"></i> {{result.str_direccion}}</li>
								</ul>
								<br>
						  	</div>
						  	<div class="right col-xs-6 text-center">
						  		{% if result.str_urlFotoPerfil == "0" %}
						  			<img src="/images/first.png" class="img-thumbnail img-responsive">
						  		{% else %}
									<img src="/mostrar?key={{result.str_urlFotoPerfil}}" class="img-thumbnail img-responsive">
						  		{% endif %}
							</div>
						</div>
						<div class="col-xs-12 bottom" style="text-align:center;">
								<a href="/editarPension?idPension={{result.key().id()}}" class="btn btn-primary btn-xs"> <i class="fa fa-edit"></i> Editar</a>
								{% if result.int_publicarPension == 0 %}
									<a href="/adminIndex?idP={{result.key().id()}}&status=1" class="btn btn-success btn-xs"><i class="fa fa-check"></i> Activar</a>
								{% else %}
									<a href="/adminIndex?idP={{result.key().id()}}&status=0" class="btn btn-danger btn-xs"><i class="fa fa-close"></i> Desactivar</a>
								{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>
</div>

		<!-- footer content -->
		<footer>
		  <div class="copyright-info">
			<p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
			</p>
		  </div>
		  <div class="clearfix"></div>
		</footer>
		<!-- /footer content -->

	  </div>
	  <!-- /page content -->
	</div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
	<ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
	</ul>
	<div class="clearfix"></div>
	<div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="js/bootstrap.min.js"></script>

  <!-- bootstrap progress js -->
  <script src="js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="js/icheck/icheck.min.js"></script>

  <script src="js/custom.js"></script>
  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>
</body>

</html>